<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sampleAppStore.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F47C3E65186B3E0C3CF41E20EBEA5035F2F8019A</string>
				<key>dateExpires</key>
				<string>2020/08/03</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F47C3E65186B3E0C3CF41E20EBEA5035F2F8019A</string>
						<key>dateExpires</key>
						<string>2020/08/03</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Instantiate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P46632C32H</string>
						<key>name</key>
						<string>Takuma Osada</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F47C3E65186B3E0C3CF41E20EBEA5035F2F8019A</string>
						<key>dateExpires</key>
						<string>2020/08/03</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>InstantiateStandard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P46632C32H</string>
						<key>name</key>
						<string>Takuma Osada</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F47C3E65186B3E0C3CF41E20EBEA5035F2F8019A</string>
						<key>dateExpires</key>
						<string>2020/08/03</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>P46632C32H</string>
						<key>name</key>
						<string>Takuma Osada</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>P46632C32H.com.sampleAppStore</string>
				<key>com.apple.developer.team-identifier</key>
				<string>P46632C32H</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>P46632C32H.com.sampleAppStore</string>
				</array>
			</dict>
			<key>name</key>
			<string>sampleAppStore.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9f555cf2-1406-4dc4-b404-780692f2742d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>P46632C32H</string>
				<key>name</key>
				<string>Takuma Osada</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
